{% extends 'consulta.html' %}
{% load static %}

{% block columns %}
    <tr class="table-danger text-center">
        <th scope="col" style="width: 5%;">#</th>
        <th scope="col" style="width: 25%;">Nombre</th>
        <th scope="col" style="width: 10%;">Cèdula</th>
        <th scope="col" style="width: 25%;">Direcciòn</th>
        <th scope="col" style="width: 10%;">Telèfono</th>
        <th scope="col" style="width: 25%;">Correo</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    <tr class="table-warning text-center">
      <td>1</td>
      <td>Damaris Ortiz</td>
      <td>0955453741</td>
      <td>Dùran</td>
      <td>0969188296</td>
      <td>dortizcornejo@gmail.com</td>
      <td class="acciones">
        <a href="{% url 'editarEmpleado' %}">✏️</a>
        <a href="{% url 'eliminarEmpleado' %}">❌</a>
      </td>
  </tr>
    <tr class="table-warning table-bordered text-center">
      <td>2</td>
      <td>Erick Bohorquez</td>
      <td>0914123458</td>
      <td>Milagro</td>
      <td>002268678</td>
      <td>davparedes@gmail.com</td>
      <td class="acciones">
        <a href="{% url 'editarEmpleado' %}">✏️</a>
        <a href="{% url 'eliminarEmpleado' %}">❌</a>
      </td>
  </tr>
{% endblock %}